

/*Заглавна снимка на телефон*/

.hero {
  height: 360px;
  width: 100%;
  background-image: url(https://i.imgur.com/tsli7hl.png);
  background-size: cover;
  background-position: center;
  position:relative;
  margin-top: 60px;
  border: 1px solid black;
}

